In [1]:
import pandas as pd 
import numpy as np

In [2]:
df1 = pd.read_csv('file_no_missing.csv')
df2 = pd.read_csv('final_data.csv')

In [3]:
df1

      label                                              tweet
0      fear  Lebih menyeramkan kalo punya grup WA keluarga ...
1       joy     'Hepibesdey canteeeekk [USERNAME] panjang umur
2       joy  'Jumat lalu nonton inih! Selain tertarik setti...
3       joy     Nyante dulu.. Sruput kopi biar tambah bijak...
4      love  'Happy annyversarry yg pertama kalinya .. Trsr...
...     ...                                                ...
4148  anger  sini berobat sama saya ini ngantri dokter saja...
4149    joy  Selamat pagi generasi Tik Tok yang kadang kepa...
4150   love                 'Salah satu sahabat terbaik! Teman
4151  anger  [USERNAME] Gila kok ada ya perempuan pikiranny...
4152  anger  '[USERNAME] saya coba hubungi yg di cakung dan...

[4153 rows x 2 columns]

In [4]:
df2

,text,label,prediction(label),confidence(fear),confidence(joy),confidence(love),confidence(sadness),confidence(anger)
0,takan ragukan besarnya kasih sayang tuhan,NaN,sadness,0.0,0.0,0.0,1.0,0.0
1,cebong dungu maksd hati pengen cari kesalahan ...,NaN,anger,0.0,0.0,0.0,0.0,1.0
2,NaN,NaN,love,0.0,0.0,1.0,0.0,0.0
3,melody membatasi member dibales mentionnya dik...,NaN,anger,0.0,0.0,0.0,0.0,1.0
4,amarah membuatku meluapkan,NaN,anger,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
995,orang habis pikir orang menganggap wajar menya...,NaN,anger,0.0,0.0,0.0,0.0,1.0
996,melawan sibuk selasamu,NaN,love,0.0,0.0,1.0,0.0,0.0
997,momen mendalam terhubung energi positif,NaN,love,0.0,0.0,1.0,0.0,0.0
998,bekasi sayangnya terelakkan bekasi panas bange...,NaN,sadness,0.0,0.0,0.0,1.0,0.0
999,happy mensive love makasih nemenin kerasa perj...,NaN,sadness,0.0,0.0,0.0,1.0,0.0

In [5]:
df3 = df2[['prediction(label)','text']]
df3

    prediction(label)                                               text
0             sadness         takan ragukan besarnya kasih sayang tuhan
1               anger  cebong dungu maksd hati pengen cari kesalahan ...
2                love                                                NaN
3               anger  melody membatasi member dibales mentionnya dik...
4               anger                        amarah membuatku meluapkan
..                ...                                                ...
995             anger  orang habis pikir orang menganggap wajar menya...
996              love                            melawan sibuk selasamu
997              love           momen mendalam terhubung energi positif
998           sadness  bekasi sayangnya terelakkan bekasi panas bange...
999           sadness  happy mensive love makasih nemenin kerasa perj...

[1000 rows x 2 columns]

In [6]:
df3 = df3.rename(columns={'prediction(label)': 'label'})
df3 = df3.rename(columns={'text': 'tweet'})
df3

       label                                              tweet
0    sadness         takan ragukan besarnya kasih sayang tuhan
1      anger  cebong dungu maksd hati pengen cari kesalahan ...
2       love                                                NaN
3      anger  melody membatasi member dibales mentionnya dik...
4      anger                        amarah membuatku meluapkan
..       ...                                                ...
995    anger  orang habis pikir orang menganggap wajar menya...
996     love                            melawan sibuk selasamu
997     love           momen mendalam terhubung energi positif
998  sadness  bekasi sayangnya terelakkan bekasi panas bange...
999  sadness  happy mensive love makasih nemenin kerasa perj...

[1000 rows x 2 columns]

In [7]:
df1

      label                                              tweet
0      fear  Lebih menyeramkan kalo punya grup WA keluarga ...
1       joy     'Hepibesdey canteeeekk [USERNAME] panjang umur
2       joy  'Jumat lalu nonton inih! Selain tertarik setti...
3       joy     Nyante dulu.. Sruput kopi biar tambah bijak...
4      love  'Happy annyversarry yg pertama kalinya .. Trsr...
...     ...                                                ...
4148  anger  sini berobat sama saya ini ngantri dokter saja...
4149    joy  Selamat pagi generasi Tik Tok yang kadang kepa...
4150   love                 'Salah satu sahabat terbaik! Teman
4151  anger  [USERNAME] Gila kok ada ya perempuan pikiranny...
4152  anger  '[USERNAME] saya coba hubungi yg di cakung dan...

[4153 rows x 2 columns]

In [8]:
frames=[df1,df3]
df_asli=pd.concat(frames).reset_index(drop=True)
df_asli

        label                                              tweet
0        fear  Lebih menyeramkan kalo punya grup WA keluarga ...
1         joy     'Hepibesdey canteeeekk [USERNAME] panjang umur
2         joy  'Jumat lalu nonton inih! Selain tertarik setti...
3         joy     Nyante dulu.. Sruput kopi biar tambah bijak...
4        love  'Happy annyversarry yg pertama kalinya .. Trsr...
...       ...                                                ...
5148    anger  orang habis pikir orang menganggap wajar menya...
5149     love                            melawan sibuk selasamu
5150     love           momen mendalam terhubung energi positif
5151  sadness  bekasi sayangnya terelakkan bekasi panas bange...
5152  sadness  happy mensive love makasih nemenin kerasa perj...

[5153 rows x 2 columns]

In [10]:
# df_asli.to_csv('data_asli.csv', index=False)
# files.download('data_asli.csv')